<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Milestone: Stock Charting powered by bokeh</title>

        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.1.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.1.min.js"></script>

        <!-- COPY/PASTE SCRIPT HERE -->
        {{ script|safe }}

    </head>
    <body>
        <!-- INSERT DIVS HERE -->
        {{ div|safe }}
    </body>
</html>